@import '../../variables';

.pagination {
  display: inline-flex;
  justify-content: center;

  margin-bottom: 30px;

  border: 1px solid #000000;

  &Scroll {
    overflow: auto;
  }
}

.item {
  width: 30px;
  padding: 5px;

  text-align: center;

  cursor: pointer;
  transition: all 0.1s;

  &:not(:last-of-type) {
    border-right: 1px solid #000000;
  }

  &:hover,
  &Active {
    color: #ffffff;
    background-color: $custom-blue;

    transition: all 0.1s;
  }
}
